<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Room</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sona/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/faticon.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/sona/style.css" type="text/css">
</head>

<body>

<!--header start-->
<header class="header">
    <div sec:authorize="isAnonymous()">
        <a href="login"><img class="hbtn" src="../static/img/login.png"></a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="logout"><img class="hbtn" src="../static/img/logout.png"></a>
    </div>
    <div class="lang_buttons">
        <input type="image" onclick="swap_len()" class="hbtn" src="../static/img/lang.png" alt="lang">
    </div>
    <script>
        function swap_len(){$.get('/lang',function (data){location.reload()})}
    </script>
</header>
<!--header end-->

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="../static/img/room/room-details.jpg" alt="img">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>Premium King Room</h3>
                        </div>
                        <h2 th:text="${apartment.getPrice()}"><span th:text="#{pricePerNight}"></span></h2>
                        <table>
                            <tbody>
                            <tr>
                                <td class="r-o" th:text="#{capacity}" ></td>
                                <td th:text="${apartment.getBeds()}"> </td>
                            </tr>
                            <tr>
                                <td class="r-o" th:text="#{clazz} + ':'"></td>
                                <td th:text="${apartment.getClazz()}"></td>
                            </tr >
                            </tbody>
                        </table>
                        <p class="f-para">Motorhome or Trailer that is the question for you. Here are some of the
                            advantages and disadvantages of both, so you will be confident when purchasing an RV.
                            When comparing Rvs, a motorhome or a travel trailer, should you buy a motorhome or fifth
                            wheeler? The advantages and disadvantages of both are studied so that you can make your
                            choice wisely when purchasing an RV. Possessing a motorhome or fifth wheel is an
                            achievement of a lifetime. It can be similar to sojourning with your residence as you
                            search the various sites of our great land, America.</p>
                        <p>The two commonly known recreational vehicle classes are the motorized and towable.
                            Towable rvs are the travel trailers and the fifth wheel. The rv travel trailer or fifth
                            wheel has the attraction of getting towed by a pickup or a car, thus giving the
                            adaptability of possessing transportation for you when you are parked at your campsite.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3 th:text="#{yourReservation}"></h3>
                    <div class="err-message" th:each="message : ${messages}">
                        <span th:text="#{${message}}"> </span>
                    </div>
                    <form th:action="@{'/apartment/book/' +${apartment.getId()}}" method="post">
                        <div class="check-date">
                            <label for="date-in" th:text="#{checkIn}" ></label>
                            <input name = "arrivalDay" type="date" class="date-input" id="date-in" required>
                        </div>
                        <div class="check-date">
                            <label for="date-out" th:text="#{checkOut}"></label>
                            <input name = "endDay" type="date" class="date-input" id="date-out" required>
                        </div>
                        <h2 th:text="#{weSendBillOnEmail}"></h2>
                        <button type="submit" th:text="#{book}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->
</body>>
</html>