<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/login.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
<div>
    <form th:action="@{'/editUser'+${user.getId()}}" method="post">
        <input name="username" th:type="text" th:value="${user.getUsername()}">
        <label th:each="role : ${existingRoles}" >
            <input th:if="${role.name() != 'USER'}" type = "checkbox"  th:text="${role}"
                   th:checked="${user.getRoles().contains(role)}" >
        </label>
        <button type="submit" th:text="#{save}"></button>
    </form>
</div>
</body>
</html>